<md-sidenav class="md-sidenav-right" md-component-id="sidenav" md-whiteframe="4">

    <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Is this just Fantasy?</h1>
    </md-toolbar>
    <md-content layout-padding="" >
        <md-button ng-click="close()" class="md-primary" hide-gt-md="">
            Close
        </md-button>
        <p hide="" show-gt-md="" style="text-align:center">
            <strong>{{currentUser.name}} {{currentUser.surname}}</strong>
            <br>{{currentUser.notes}}
            <br>{{currentUser.fromTo}}
        </p>
        <br><br><p>{{currentUser.bio}}</p>

    </md-content>

</md-sidenav>
